{% extends 'base/base.html' %}
{% load static %}
{% block content %}


<header class="header">
    <div class="header-container d-md-none d-lg-block d-sm-none d-md-block d-none d-sm-block" style="background-image: url(&quot;/static/img/Bees/cover0.jpg&quot;);margin-bottom: 37px;padding-bottom: 46px;padding-top: 32px; height: 360px;">
      <div class="container">
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src={%static '/bootstrap/js/bootstrap1.min.js' %}></script>
    <script src={%static '/bootstrap/js/jquery1.min.js' %}></script> 
  </header>



<div class="container py-4 py-xl-5"
    style="padding-right: 0px;padding-left: 0px;margin-bottom: -24px;padding-bottom: 36px;padding-top: 14px;margin-top: 82px;">
    <div class="row row-cols-1 row-cols-md-2" style="background: var(--bs-white);border-radius: 20px;">
        <div class="col"
            style="padding: 0px;border-top-right-radius: 0px;border-bottom-right-radius: 0px;display: flex;">
            <picture style="display: flex;">
                <img class="img-fluid d-sm-none d-md-block d-none d-sm-block" src={%static '/img/Bees/bee0.jpg' %}
                    style="border-top-left-radius: 20px;border-bottom-left-radius: 20px;height: auto;max-height: 100%;display: flex;"
                    width="660" height="359" />
            </picture>
        </div>
        <div class="col-xxl-6 d-flex flex-column justify-content-center p-4">
            <div class="text-center text-md-start d-flex flex-column align-items-center align-items-md-start mb-5">
                <div>
                    <h4 style="font-size: 44px;font-weight: bold;text-align: center;">¿Qué es {% block title %}Bee Care{% endblock title %}?</h4>
                    <p style="font-size: 18px;text-align: center;">
                        Se trata de un proyecto que busca cambiar la perspectiva de las personas sobre las abejas.
                        Nuestro plan es registar los avistamientos y así poder mostrar la gran variedad de abejas cercanas a tu localidad.
                        <br/>
                    </p>
                    <div class="row align-items-center" style="text-align: center;">
                        <div class="col-xxl-12 align-items-center">
                            <a class="btn btn-primary" type="button" href="{% url 'about' %}"
                                style="width: 164.338px;background: var(--bs-primary);--bs-primary: #f09c10;--bs-primary-rgb: 240,156,16;padding-right: 0px;padding-left: 0px;margin: 0px;margin-right: 1px;border-style: none;border-radius: 20px;">
                                ¡Quiero saber más!
                        </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container py-4 py-xl-5"
    style="margin-bottom: -50px;padding-left: 0px;padding-right: 0px;margin-top: -48px;">
    <div class="row gy-4 row-cols-1 row-cols-md-2 row-cols-lg-3"
        style="margin-left: -22px;padding-top: 18px;margin-bottom: 23px;">
        <div class="col-lg-6 col-xl-6">
            <div class="card border-light border-1 d-flex justify-content-center p-4"
                style="border-radius: 20px;padding-left: 16px;margin-left: -3px;">
                <div class="card-body">
                    <div>
                        <h4 class="fw-bold" style="font-size: 44px;text-align: center;">Misión</h4>
                        <p class="text-muted" style="font-size: 18px;text-align: center;">Informar a la comunidad sobre la importancia de las abejas en nuestro planeta y el por qué debemos cuidarlas.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-xl-6">
            <div class="card border-light border-1 d-flex justify-content-center p-4"
                style="margin-right: -14px;border-radius: 20px;">
                <div class="card-body">
                    <div>
                        <h4 class="fw-bold" style="font-size: 44px;text-align: center;">Visión</h4>
                        <p class="text-muted" style="font-size: 18px;text-align: center;">Asociarnos con otras entidades que tengan una misión de compromiso con la sociedad y su hábitat.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container py-4 py-xl-5"
    style="padding-right: 0px;padding-left: 0px;margin-bottom: -24px;padding-bottom: 36px;margin-top: 0px;">
    <div class="row row-cols-1 row-cols-md-2" style="background: var(--bs-white);border-radius: 20px;">
        <div class="col-xxl-6 d-flex flex-column justify-content-center p-4">
            <div class="text-center text-md-start d-flex flex-column align-items-center align-items-md-start mb-5">
                <div>
                    <h4 style="font-size: 44px;font-weight: bold;text-align: center;">Avistamientos en tu ciudad</h4>
                    <p style="font-size: 18px;text-align: center;">
                        ¿Estás interesado en conocer sobre los tipos de abejas que hay en tu localidad?, ¿Eres un entusiasta de las abejas y además miraste una?<br />
                        ¡No lo dudes más!, ven y comparte con nosotros tu avistamiento. <br>
                    </p>
                    <div class="row align-items-center" style="text-align: center;">
                        <div class="row align-items-center" style="text-align: center;">
                            <div class="col-lg-6 col-xl-6 col-xxl-6 align-items-center"><a class="btn btn-primary" href="
                                {% if user.is_authenticated %}
                                {% url 'sighting-reg' %}
                                {% else %}
                                {% url 'signup' %}
                                {% endif %}
                                " type="button" style="width: 190px;background: var(--bs-gray-700);--bs-primary: #f09c10;--bs-primary-rgb: 240,156,16;padding-right: 0px;padding-left: 0px;margin: 0px;margin-right: 16px;border-style: none;margin-left: 16px;border-radius: 20px;">¡Quiero registrar un avistamiento!</a></div>
                            <div class="col-lg-6 col-xl-6 col-xxl-6 align-items-center"><a class="btn btn-primary" href="{% url 'sighting-map' %}" type="button" style="width: 190px;background: var(--bs-primary);--bs-primary: #f09c10;--bs-primary-rgb: 240,156,16;margin: 0px;margin-right: 16px;border-style: none;margin-left: 16px;padding-right: 0px;padding-left: 0px;border-radius: 20px;">¿Qué avistamientos hay en mi localidad?</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col"
            style="padding: 0px;border-top-right-radius: 0px;border-bottom-right-radius: 0px;display: flex;">
            <picture style="display: flex;">
                <img class="img-fluid d-sm-none d-md-block d-none d-sm-block" src={%static '/img/illustrations/img0.jpg' %}
                    style="border-top-left-radius: 0px;border-bottom-left-radius: 0px;height: auto;max-height: 100%;display: flex;border-top-right-radius: 20px;border-bottom-right-radius: 20px;"
                    width="660" height="359" />
            </picture>
        </div>
    </div>
</div>
<div class="container py-4 py-xl-5"
    style="padding-right: 0px;padding-left: 0px;margin-bottom: -24px;padding-bottom: 36px;padding-top: 16px;margin-top: -6px;">
    <div class="row row-cols-1 row-cols-md-2" style="background: var(--bs-white);border-radius: 20px;">
        <div class="col"
            style="padding: 0px;border-top-right-radius: 0px;border-bottom-right-radius: 0px;display: flex;">
            <picture style="display: flex;">
                <img class="img-fluid d-none d-sm-block" src={%static '/img/illustrations/img1.jpg' %}
                    style="border-top-left-radius: 20px;border-bottom-left-radius: 20px;height: auto;max-height: 100%;display: flex;"
                    width="660" height="359" />
            </picture>
        </div>
        <div class="col-xxl-6 d-flex flex-column justify-content-center p-4">
            <div class="text-center text-md-start d-flex flex-column align-items-center align-items-md-start mb-5">
                <div>
                    <h4 style="font-size: 44px;font-weight: bold;text-align: center;">Conoce más sobre las abejas
                        nativas</h4>
                    <p style="font-size: 18px;text-align: center;">
                        Conoce que familias de abejas son las más abundantes en México, sus especies, características y sus métodos de defensa.
                        <br />
                    </p>
                    <div class="row align-items-center" style="text-align: center;">
                        <div class="col-xxl-12 align-items-center">
                            <a class="btn btn-primary" type="button" href="{% url 'article_detail' 'abejas-nativas-de-mexico' %}"
                                style="width: 164.338px;background: var(--bs-primary);--bs-primary: #f09c10;--bs-primary-rgb: 240,156,16;padding-right: 0px;padding-left: 0px;margin: 0px;margin-right: 1px;border-style: none;border-radius: 20px;">Quiero saber más</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% if user.is_authenticated %}
{% if answerdone == 0 %}

<script type="text/javascript">
    $(window).on('load',function(){
    if ( document.getElementById("valueAnswer").value == 0){
        $('#exampleModal').modal('show');
    }           
    });
</script>

    <input type="text" id="valueAnswer" value="{{answerdone}}" hidden>
    <!-- Modal -->
    <div class="modal fade show modal-lg" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="display: block;">
        <!-- Contenido de la ventana modal -->
        <div class="modal-content" style="border-radius: 10px;background-repeat:repeat-x;background-size:auto;background-image: url('{%static 'img/quiz/background1.png' %}');   ">
                <div class="modal-header" style="border-radius: 10px;">
                    <h4 class="modal-title" id="exampleModalLabel">!Bzz bzzz, bienvenido!  {{formtest}}</h4>
                    <h5 class="modal-title">Nos gustaria saber qué tanto sabes sobre las abejas, ¡animate a responder esta encuesta!</h5>

                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- Formulario -->
                    <br><br><br><br><br><br><br><br>
                    <form method="POST" enctype="multipart/form-data">
                        <div class="form-group">
                        {% csrf_token %}
                            <p align="left">
                            <input type="radio" id="answerusrToquestion" name="answerusrToquestion" value="1" checked readonly hidden required>
                    
                            {% for question in  questiontest %}
                            {{forloop.counter}}      
                            {{question}} 
                                <br>
                                <input type="text" style="visibility:hidden"  id="answerusrQuestion{{question.id}}" name="answerusrQuestion{{forloop.counter}}" value="{{question.id}}" readonly hidden required>                 
                                {% for answer in  anwsertest %}
                                        {% if answer.answerQuestion.id == question.id  %}
                                            <input type="radio" id="answerusrToquestion{{question.id}}" name="answerusrToquestion{{forloop.parentloop.counter}}" value="{{answer.id}}" required>   
                                            {{answer}} 
                                            <br>
                                        
                                        {% endif %}
                                {% endfor %}           
                                <br>
                            {% endfor %}
                        </div>
                        <center>
                            <button type="submit"class="btn btn-info" style="border-style: none;border-radius: 15px;" >Enviar respuesta</button>
                        </center>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger"style="border-style: none;border-radius: 15px;" data-bs-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
{% endif %}  
{% endif %}  


{% endblock %}