{% extends 'base/base.html' %}
{% load static %}
{% block content %}
<section class="text-center text-white d-sm-none d-md-block d-none d-sm-block"
    style="background: url(&quot;/static/img/Bees/cover0.jpg&quot;) no-repeat center center;background-size: cover;height: 707px;padding-top: 55px;margin-bottom: 2px;padding-bottom: 84px;margin-top: 92px;">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto position-relative">
                <h2 class="mb-4"></h2>
            </div>
        </div>
    </div>
</section>
<div class="container py-4 py-xl-5"
    style="padding-right: 0px;padding-left: 0px;margin-bottom: -24px;padding-bottom: 36px;padding-top: 14px;margin-top: 82px;">
    <div class="row row-cols-1 row-cols-md-2" style="background: var(--bs-white);border-radius: 20px;">
        <div class="col"
            style="padding: 0px;border-top-right-radius: 0px;border-bottom-right-radius: 0px;display: flex;">
            <picture style="display: flex;">
                <img class="img-fluid d-sm-none d-md-block d-none d-sm-block" src={%static '/img/Bees/bee0.jpg' %}
                    style="border-top-left-radius: 20px;border-bottom-left-radius: 20px;height: auto;max-height: 100%;display: flex;"
                    width="660" height="359" />
            </picture>
        </div>
        <div class="col-xxl-6 d-flex flex-column justify-content-center p-4">
            <div class="text-center text-md-start d-flex flex-column align-items-center align-items-md-start mb-5">
                <div>
                    <h4 style="font-size: 44px;font-weight: bold;text-align: center;">¿Qué es Bee Care?</h4>
                    <p style="font-size: 18px;text-align: center;">
                        Es un proyecto enfocado al cuidado de las abejas y su importancia en el ecosistema y el planeta.
                        Si deseas conocer más detalles, presione el botón que se muestra a continuación.<br/>
                    </p>
                    <div class="row align-items-center" style="text-align: center;">
                        <div class="col-xxl-12 align-items-center">
                            <button class="btn btn-primary" type="button"
                                style="width: 164.338px;background: var(--bs-primary);--bs-primary: #f09c10;--bs-primary-rgb: 240,156,16;padding-right: 0px;padding-left: 0px;margin: 0px;margin-right: 1px;border-style: none;border-radius: 20px;">Quiero
                                conocer más</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container py-4 py-xl-5"
    style="margin-bottom: -50px;padding-left: 0px;padding-right: 0px;margin-top: -48px;">
    <div class="row gy-4 row-cols-1 row-cols-md-2 row-cols-lg-3"
        style="margin-left: -22px;padding-top: 18px;margin-bottom: 23px;">
        <div class="col-lg-6 col-xl-6">
            <div class="card border-light border-1 d-flex justify-content-center p-4"
                style="border-radius: 20px;padding-left: 16px;margin-left: -3px;">
                <div class="card-body">
                    <div>
                        <h4 class="fw-bold" style="font-size: 44px;text-align: center;">Misión</h4>
                        <p class="text-muted" style="font-size: 18px;text-align: center;">Informar a la comunidad sobre la importancia de las abejas en nuestro planeta y el por qué debemos cuidarlas.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-xl-6">
            <div class="card border-light border-1 d-flex justify-content-center p-4"
                style="margin-right: -14px;border-radius: 20px;">
                <div class="card-body">
                    <div>
                        <h4 class="fw-bold" style="font-size: 44px;text-align: center;">Visión</h4>
                        <p class="text-muted" style="font-size: 18px;text-align: center;">Asociarnos con otras entidades que tengan una misión de compromiso con la sociedad y su hábitat.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container py-4 py-xl-5"
    style="padding-right: 0px;padding-left: 0px;margin-bottom: -24px;padding-bottom: 36px;margin-top: 0px;">
    <div class="row row-cols-1 row-cols-md-2" style="background: var(--bs-white);border-radius: 20px;">
        <div class="col-xxl-6 d-flex flex-column justify-content-center p-4">
            <div class="text-center text-md-start d-flex flex-column align-items-center align-items-md-start mb-5">
                <div>
                    <h4 style="font-size: 44px;font-weight: bold;text-align: center;">Avistamientos en tu ciudad</h4>
                    <p style="font-size: 18px;text-align: center;">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the industry's standard dummy text ever since the 1500s.<br />
                    </p>
                    <div class="row align-items-center" style="text-align: center;">
                        <div class="row align-items-center" style="text-align: center;">
                            <div class="col-lg-6 col-xl-6 col-xxl-6 align-items-center"><a class="btn btn-primary" href="
                                {% if user.is_authenticated %}
                                {% url 'sighting-reg' %}
                                {% else %}
                                {% url 'signup' %}
                                {% endif %}
                                " type="button" style="width: 190px;background: var(--bs-gray-700);--bs-primary: #f09c10;--bs-primary-rgb: 240,156,16;padding-right: 0px;padding-left: 0px;margin: 0px;margin-right: 16px;border-style: none;margin-left: 16px;border-radius: 20px;">¡Quiero registrar un avistamiento!</a></div>
                            <div class="col-lg-6 col-xl-6 col-xxl-6 align-items-center"><a class="btn btn-primary" href="{% url 'sighting-map' %}" type="button" style="width: 190px;background: var(--bs-primary);--bs-primary: #f09c10;--bs-primary-rgb: 240,156,16;margin: 0px;margin-right: 16px;border-style: none;margin-left: 16px;padding-right: 0px;padding-left: 0px;border-radius: 20px;">¿Qué avistamientos hay en mi localidad?</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col"
            style="padding: 0px;border-top-right-radius: 0px;border-bottom-right-radius: 0px;display: flex;">
            <picture style="display: flex;">
                <img class="img-fluid d-sm-none d-md-block d-none d-sm-block" src={%static '/img/illustrations/img0.jpg' %}
                    style="border-top-left-radius: 0px;border-bottom-left-radius: 0px;height: auto;max-height: 100%;display: flex;border-top-right-radius: 20px;border-bottom-right-radius: 20px;"
                    width="660" height="359" />
            </picture>
        </div>
    </div>
</div>
<div class="container py-4 py-xl-5"
    style="padding-right: 0px;padding-left: 0px;margin-bottom: -24px;padding-bottom: 36px;padding-top: 16px;margin-top: -6px;">
    <div class="row row-cols-1 row-cols-md-2" style="background: var(--bs-white);border-radius: 20px;">
        <div class="col"
            style="padding: 0px;border-top-right-radius: 0px;border-bottom-right-radius: 0px;display: flex;">
            <picture style="display: flex;">
                <img class="img-fluid d-none d-sm-block" src={%static '/img/illustrations/img1.jpg' %}
                    style="border-top-left-radius: 20px;border-bottom-left-radius: 20px;height: auto;max-height: 100%;display: flex;"
                    width="660" height="359" />
            </picture>
        </div>
        <div class="col-xxl-6 d-flex flex-column justify-content-center p-4">
            <div class="text-center text-md-start d-flex flex-column align-items-center align-items-md-start mb-5">
                <div>
                    <h4 style="font-size: 44px;font-weight: bold;text-align: center;">Conoce más sobre las abejas
                        nativas</h4>
                    <p style="font-size: 18px;text-align: center;">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the industry's standard dummy text ever since the 1500s.<br />
                    </p>
                    <div class="row align-items-center" style="text-align: center;">
                        <div class="col-xxl-12 align-items-center">
                            <button class="btn btn-primary" type="button"
                                style="width: 164.338px;background: var(--bs-primary);--bs-primary: #f09c10;--bs-primary-rgb: 240,156,16;padding-right: 0px;padding-left: 0px;margin: 0px;margin-right: 1px;border-style: none;border-radius: 20px;">Saber
                                más</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}