{% extends 'base/base.html' %}
{% load static %}
{% block content %}
  
<header class="header">
  <div class="header-container d-md-none d-lg-block d-sm-none d-md-block d-none d-sm-block" style="background-image: url(&quot;/static/img/Bees/bee4.png&quot;);margin-bottom: 37px;padding-bottom: 46px;padding-top: 32px;">
    <div class="container">
      <div class="col-md-6 offset-md-3 header-title">
          <h1 class="text-center" style="color: #ffffff;padding-right: 107px;padding-left: 108px;border-width: 6px;border-style: solid;margin-bottom: 30px;padding-bottom: 30px;padding-top: 30px;font-size: 60px;margin-left: -210px;margin-right: -210px;margin-top: 32px;">
              <strong>{% block title %}Mi perfil{% endblock title %}</strong>
          </h1>      
        </div>
  </div>
</header>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
    <div style="display:none"hidden> 
        <input class="form-control" type="text" style="border-radius: 20px;border-style: none;background: var(--bs-gray-200); display: none;" placeholder="Bee" inputmode="latin-name" name="first_name" id="first_name" required="" minlength="3" value="{{user.member.membFirstName}}" readonly hidden>
        <input class="form-control" type="text" style="border-radius: 20px;border-style: none;background: var(--bs-gray-200); display: none;" placeholder="Care" inputmode="latin-name" name="last_name" id="last_name" required="" minlength="3" value="{{user.member.membLastName}}" readonly hidden>
        <input class="form-control" type="text" style="border-radius: 20px;border-style: none;background: var(--bs-gray-200); display: none;" placeholder="bienvenido@beecare.com" inputmode="email" name="username" id="username" required="" minlength="5" maxlength="64" value="{{user.member.membEmail}}" readonly >
    </div> 
    <div class="container py-4 py-xl-5" style="padding-left: 0px;padding-right: 0px;margin-top: 0px;padding-top: 8px;margin-bottom: -64px;padding-bottom: 66px;">
        <h4 class="fw-bold" style="font-size: 41px;text-align: center;color: rgb(73,64,56);">Mi perfil de usuario</h4>
        <div class="row gy-4 row-cols-1 row-cols-md-2 row-cols-lg-3" style="text-align: center;margin-left: 0px;padding-top: 0px;margin-top: -16px;padding-bottom: 45px;margin-bottom: 24px;">
            <div class="col-sm-12 col-md-4 col-lg-4 col-xl-3 col-xxl-4" style="box-shadow: 0px 0px;text-shadow: 0px 0px;">
                <div class="card border-light border-1 d-flex justify-content-center p-4" style="border-radius: 20px;padding-left: 16px;margin-left: -3px;">
                    <div class="col-md-12 col-xxl-12" style="text-align: center;font-size: 22px;"><label class="col-form-label" style="text-align: left;margin-left: 8px;"><strong>Fotografía de perfil</strong></label></div>
                    <div class="row" style="text-align: center;">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                            <img style="max-width: 90%;border-radius: 20%%;margin-right: 8px;margin-left: 8px;margin-bottom: 8px;margin-top: 8px;border-top-left-radius: 20%;border-top-right-radius: 20%;border-bottom-right-radius: 20%;border-bottom-left-radius: 20%;border-style: solid;border-color: var(--bs-light);" id="img_profile"  src="{{user.member.membProfilePicture.url}}">
                        </div>
                        <div class="col-md-12" style="text-align: left;"><label class="form-label" style="text-align: left;margin-left: 8px;">Cambiar imagen</label>
                            <div class="input-group" style="border-radius: 8px;border-style: none;">
                                <input class="form-control" type="file" style="border-style: none;border-radius: 20px;background: var(--bs-light);text-align: left;" name="membProfilePicture" onchange="load_Profile(event)" accept="image/*">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-8 col-lg-8 col-xl-9 col-xxl-8" style="box-shadow: 0px 0px;text-shadow: 0px 0px;">
                <div class="card border-light border-1 d-flex justify-content-center p-4" style="border-radius: 20px;padding-left: 16px;margin-left: -3px;">
                    <div class="row" style="text-align: center;">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12" style="text-align: center;">
                                         
                                <div class="row">
                                    <div class="col-xxl-12" style="margin-bottom: 8px;">
                                        <div>
                                            <h4 class="fw-bold" style="font-size: 32px;text-align: center;">Mi información</h4>
                                        </div>
                                    </div>
                                <div class="col-xxl-12" style="margin-top: 8px;margin-bottom: 8px;">
                                    <div class="row">
                                        <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 col-xxl-12" style="text-align: left;"><label class="form-label" style="text-align: left;margin-left: 8px;">Nombre(s)</label>
                                            <div class="input-group" style="border-radius: 8px;border-style: none;">
                                                <input class="form-control" type="text" style="border-radius: 20px;border-style: none;background: var(--bs-gray-200);" placeholder="Bee" inputmode="latin-name" name="membFirstName" id="membFirstName" onchange="autoField_first_name(row = null)" required="" minlength="3" value="{{user.member.membFirstName}}">
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 col-xxl-6" style="text-align: left;"><label class="form-label" style="text-align: left;margin-left: 8px;">Apellido(s)</label>
                                            <div class="input-group" style="border-radius: 8px;border-style: none;">
                                                <input class="form-control" type="text" style="border-radius: 20px;border-style: none;background: var(--bs-gray-200);" placeholder="Care" inputmode="latin-name" name="membLastName" id="membLastName" onchange="autoField_last_name(row = null)" required="" minlength="3" value="{{user.member.membLastName}}">
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-lg-4 col-xl-4 col-xxl-4" style="text-align: left;"><label class="form-label" style="text-align: left;margin-left: 8px;">Fecha de nacimiento</label>
                                            <div class="input-group" style="border-radius: 8px;border-style: none;"><input class="form-control" type="date" style="border-style: none;border-radius: 20px;background: var(--bs-gray-200);" name="membDateBirth" value="{{user.member.membDateBirth|date:'Y-m-d'}}"  required> </div>
                                        </div>
                                        <div class="col-md-12 col-xxl-4" style="text-align: left;"><label class="form-label" style="text-align: left;margin-left: 8px;">Correo electrónico</label>
                                            <div class="input-group" style="border-radius: 8px;border-style: none;"><input class="form-control" type="text" style="border-radius: 20px;border-style: none;background: var(--bs-gray-200);" placeholder="bienvenido@beecare.com" inputmode="email" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$" name="membEmail" id="membEmail" onchange="autoField_mail(row = null)" minlength="5" maxlength="64" value="{{user.member.membEmail}}"></div>
                                        </div>
                                        <div class="col-md-12 col-xxl-4" style="text-align: left;"><label class="form-label" style="text-align: left;margin-left: 8px;">Número de teléfono</label>
                                            <div class="input-group" style="border-radius: 8px;border-style: none;"><input class="form-control" type="text" style="border-radius: 20px;border-style: none;background: var(--bs-gray-200);" inputmode="tel" placeholder="(###) ### ####" maxlength="10" minlength="10" name="membPhone"  value="{{user.member.membPhone}}"></div>
                                        </div>
                                        <div class="col-sm-6 col-md-4 col-lg-4 col-xl-6 col-xxl-6" style="text-align: left;"><label class="form-label" style="text-align: left;margin-left: 8px;">Contraseña</label>
                                            <div class="input-group" style="border-radius: 8px;border-style: none;">
                                                <input class="form-control" name="password1" type="password" style="background: var(--bs-gray-200);border-style: none;border-radius: 20px;"  placeholder="Ingresa tu contraseña">                          
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-md-4 col-lg-4 col-xl-6 col-xxl-6" style="text-align: left;"><label class="form-label" style="text-align: left;margin-left: 8px;">Repetir contraseña</label>
                                            <div class="input-group" style="border-radius: 8px;border-style: none;">
                                                <input class="form-control" name="password2" type="password" style="background: var(--bs-gray-200);border-style: none;border-radius: 20px;" placeholder="Confirma tu contraseña">                          
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-md-4 col-lg-4 col-xl-6 col-xxl-6" style="text-align: left;">
                                        <div id="ageMember" title="{{user.member.membDateBirth|date:'Y'}}"></div>
                                        </div>
                                        </div>
                                    </div>
                                    <div class="col-xxl-12" style="margin-top: 8px;margin-bottom: 8px;">
                                        <div class="row">
                                            <div class="col-md-12" style="text-align: center;">
                                                <input class="btn btn-primary" type="submit" style="background: var(--bs-primary);border-style: none;border-radius: 20px;" value="Actualizar mis datos">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src={%static '/js/scriptsImg.js' %}> </script>
    <script src={%static '/js/ageMember.js' %}> </script>

{% endblock %}