{% extends 'base/base.html' %}
{% load static %}
{% block content %}
  <header class="header">
    <div class="header-container d-md-none d-lg-block d-sm-none d-md-block d-none d-sm-block" style="background-image: url(&quot;/static/img/Bees/cover7.png&quot;);margin-bottom: 37px;padding-bottom: 46px;padding-top: 32px;">
      <div class="container">
        <div class="col-md-6 offset-md-3 header-title">
          <h1 class="text-center" style="color: #000000;padding-right: 107px;padding-left: 108px;border-width: 6px;border-style: solid;margin-bottom: 30px;padding-bottom: 30px;padding-top: 30px;font-size: 60px;margin-left: -210px;margin-right: -210px;margin-top: 32px;"><strong>Nuevo observador</strong></h1>
        </div>
      </div>
    </div>
  </header>
  <div class="container py-4 py-xl-5" style="padding-left: 0px;padding-right: 0px;padding-top: 8px;margin-bottom: -64px;padding-bottom: 66px;margin-top: -33px;">
    <div class="row">
      <div class="col">
        <h1 style="font-size: 42px;">{% block title %}Bienvenido al equipo{% endblock title %}</h1>
      </div>
    </div>
    <div class="row gy-4 row-cols-1 row-cols-md-2 row-cols-lg-3" style="text-align: center;margin-left: 0px;padding-top: 0px;margin-top: -16px;padding-bottom: 45px;margin-bottom: 24px;">
      <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12" style="box-shadow: 0px 0px;text-shadow: 0px 0px;">
        <div class="card border-light border-1 d-flex justify-content-center p-4" style="border-radius: 20px;padding-left: 16px;margin-left: -3px;">
          <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12" style="text-align: center;">
              <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row">
                  <div class="col-xxl-12" style="margin-bottom: 8px;">
                    <div>
                      <h4 class="fw-bold" style="font-size: 32px;text-align: center;">Formulario de registro</h4>
                      <p class="text-muted" style="font-size: 16px;text-align: center;">Gracias por considerar unirte a nuestro equipo, para terminar, apoyanos registrandote llenando los siguientes datos en el formulario. <br>
                        ¿Ya estas registrado? <a href="{% url 'signin' %}">Inicia sesión</a>.</p>
                    </div>
                  </div>
                  <div class="col-xxl-12" style="margin-bottom: 8px;margin-top: 8px;text-align: center;border-radius: 20px;padding-bottom: 16px;padding-top: 16px;padding-right: 16px;padding-left: 16px;background: var(--bs-light);border-style: none;border-color: var(--bs-dark);">
                    <div class="row" style="text-align: center;">
                      <div class="col-12 col-sm-3 col-md-3 col-lg-2 col-xl-2 col-xxl-2" style="text-align: center;">
                        <img id="img_profile"  style="display: inline-grid;border-radius: 10%;margin-bottom: 4px;margin-top: 4px;margin-right: 4px;margin-left: 4px;width: 120px;height: 120px;background: var(--bs-card-bg);padding-top: 4px;padding-bottom: 4px;padding-left: 4px;padding-right: 5px;border: 2px solid var(--bs-gray-500) ;" width="220" height="120" src={%static '/img/logos/Generic%20upload%20photo.svg' %} />
                      </div>
                      <div class="col d-none d-sm-block">
                        <div class="row">
                          <div class="col">
                            <div class="row">
                              <div class="col">
                                <h1 style="font-size: 24px;text-align: left;"><strong>Datos del observador</strong></h1>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col" style="text-align: left;">
                                <h1 style="font-size: 18px;"><strong>Nombre del observador:</strong> Bee Care</h1>
                                <h1 style="font-size: 18px;"><strong>Fecha de ingreso:</strong>15/11/2022</h1>
                                <h1 style="font-size: 18px;"><strong>Correo electrónico:</strong>bienvenido@beecare.com</h1>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12 col-xxl-12" style="margin-top: 8px;margin-bottom: 8px;">
                    <div class="row">
                      <div class="col-md-12" style="text-align: left;">
                        <label class="form-label" style="text-align: left;margin-left: 8px;">Sube una imagen que te describa.</label>
                        <div class="input-group" style="border-radius: 8px;border-style: none;">
                          <input class="form-control" type="file" style="border-style: none;border-radius: 20px;background: var(--bs-light);text-align: left;" name="membProfilePicture" onchange="load_Profile(event)" accept="image/*" /> 
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-xxl-12" style="margin-top: 8px;margin-bottom: 8px;">
                    <div class="row">
                      <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 col-xxl-4" style="text-align: left;">
                        <label class="form-label" style="text-align: left;margin-left: 8px;">Nombre(s)</label>
                        <div class="input-group" style="border-radius: 8px;border-style: none;">
                          <input class="form-control" type="text" style="border-radius: 20px;border-style: none;background: var(--bs-gray-200);" placeholder="Bee" value="{{error.2}}" inputmode="latin-name" name="first_name" required="" minlength="3"  />
                        </div>
                      </div>
                      <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 col-xxl-4" style="text-align: left;">
                        <label class="form-label" style="text-align: left;margin-left: 8px;">Apellido(s)</label>
                        <div class="input-group" style="border-radius: 8px;border-style: none;">
                          <input class="form-control" type="text" style="border-radius: 20px;border-style: none;background: var(--bs-gray-200);" placeholder="Care" value="{{error.3}}"  inputmode="latin-name" name="last_name" required="" minlength="3" />
                        </div>
                      </div>
                      <div class="col-md-4 col-lg-4 col-xl-4 col-xxl-4" style="text-align: left;">
                        <label class="form-label" style="text-align: left;margin-left: 8px;">Fecha de nacimiento</label>
                        <div class="input-group" style="border-radius: 8px;border-style: none;">
                          <input class="form-control" type="date" style="border-style: none;border-radius: 20px;background: var(--bs-gray-200);" value="{{error.4}}"  name="membDateBirth" required="" />
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 col-lg-6 col-xxl-6" style="margin-top: 8px;margin-bottom: 8px;">
                    <div class="row">
                      <div class="col-md-12" style="text-align: left;">
                        <label class="form-label" style="text-align: left;margin-left: 8px;">Correo electrónico</label>
                        <div class="input-group" style="border-radius: 8px;border-style: none;">
                          <input class="form-control" type="text" style="border-radius: 20px;border-style: none;background: var(--bs-gray-200);" placeholder="bienvenido@beecare.com" value="{{error.5}}"  pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$" inputmode="email" name="username" required="" minlength="5" maxlength="64" />
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 col-lg-6 col-xxl-6" style="margin-top: 8px;margin-bottom: 8px;">
                    <div class="row">
                      <div class="col-md-12" style="text-align: left;">
                        <label class="form-label" style="text-align: left;margin-left: 8px;">Número de teléfono</label>
                        <div class="input-group" style="border-radius: 8px;border-style: none;">
                          <input class="form-control" type="text" style="border-radius: 20px;border-style: none;background: var(--bs-gray-200);" inputmode="tel" placeholder="(###) ### ## ##" value="{{error.6}}"  pattern="^[0-9]+$" maxlength="10" minlength="10" name="membPhone" required="" />
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 col-lg-6 col-xxl-6" style="margin-top: 8px;margin-bottom: 8px;">
                    <div class="row">
                      <div class="col-md-12" style="text-align: left;">
                        <label class="form-label" style="text-align: left;margin-left: 8px;">Contraseña</label>
                        <div class="input-group" style="border-radius: 8px;border-style: none;">
                          <input class="form-control" type="password" style="border-radius: 20px;border-style: none;background: var(--bs-gray-200);border-bottom-right-radius: 0;border-top-right-radius: 0;" placeholder="Tu_C0ntr453ñ4" inputmode="email" name="password1" required="" minlength="5" maxlength="64" />
                          <button id="show_password1" class="btn btn-info" style="background: var(--bs-primary);border-style: none;border-radius: 20px;border-bottom-left-radius: 0;border-top-left-radius: 0;" type="button" onclick="ShowMePassword1()"><span class="fa fa-eye-slash icon"></span></button>                                          
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 col-lg-6 col-xxl-6" style="margin-top: 8px;margin-bottom: 8px;">
                    <div class="row">
                      <div class="col-md-12" style="text-align: left;">
                        <label class="form-label" style="text-align: left;margin-left: 8px;">Confirmar contraseña</label>
                        <div class="input-group" style="border-radius: 8px;border-style: none;">
                            <input class="form-control" type="password" style="border-radius: 20px;border-style: none;background: var(--bs-gray-200);border-bottom-right-radius: 0;border-top-right-radius: 0;" placeholder="Tu_C0ntr453ñ4_d3_Nu3v0" inputmode="email" name="password2" required="" minlength="5" maxlength="64" />
                            <button id="show_password2" class="btn btn-info" style="background: var(--bs-primary);border-style: none;border-radius: 20px;border-bottom-left-radius: 0;border-top-left-radius: 0;" type="button" onclick="ShowMePassword2()"><span class="fa fa-eye-slash icon"></span></button>                                          
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-xxl-12" style="margin-top: 8px;margin-bottom: 8px;">
                    <div class="row">
                      <div class="col-md-12" style="text-align: center;">
                        <button class="btn btn-primary" type="submit" style="background: var(--bs-primary);border-style: none;border-radius: 20px;">Registrarme</button>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src={%static '/js/scriptsImg.js' %}> </script>
{% endblock %}
