<nav class="navbar navbar-light navbar-expand-md fixed-top navbar-shrink py-3" id="mainNav"
    style="--bs-primary: #F09C10;--bs-primary-rgb: 240,156,16;--bs-secondary: #FECA51;--bs-secondary-rgb: 254,202,81;--bs-success: #B1DFC4;--bs-success-rgb: 177,223,196;--bs-info: #B1DFC4;--bs-info-rgb: 177,223,196;--bs-warning: #FECA51;--bs-warning-rgb: 254,202,81;--bs-danger: #E03600;--bs-danger-rgb: 224,54,0;--bs-light: #EBEBEB;--bs-light-rgb: 235,235,235;--bs-dark: #494038;--bs-dark-rgb: 73,64,56;--bs-body-color: #2d2d2d;--bs-body-bg: #d6d6d6;background: #ffffff;">
    <div class="container">
        <a class="navbar-brand d-flex align-items-center" href="/"><img
                class="d-md-none d-lg-block d-sm-none d-md-block d-none"
                src="/static/img/logos/Bee%20Care%20Horizontal%20Logo.svg" width="158" height="49" /><img
                class="d-lg-none d-xl-block d-xl-none" src="/static/img/logos/Bee%20Care%20Logo%20Only%20Drawing.svg"
                width="72" height="73" /></a><button data-bs-toggle="collapse" class="navbar-toggler"
            data-bs-target="#navcol-1"
            style="--bs-primary: #F09C10;--bs-primary-rgb: 240,156,16;--bs-secondary: #FECA51;--bs-secondary-rgb: 254,202,81;--bs-success: #B1DFC4;--bs-success-rgb: 177,223,196;--bs-info: #B1DFC4;--bs-info-rgb: 177,223,196;--bs-warning: #FECA51;--bs-warning-rgb: 254,202,81;--bs-danger: #E03600;--bs-danger-rgb: 224,54,0;--bs-light: #EBEBEB;--bs-light-rgb: 235,235,235;--bs-dark: #494038;--bs-dark-rgb: 73,64,56;--bs-body-color: #2d2d2d;--bs-body-bg: #d6d6d6;"><span
                class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"
                style="--bs-primary: #F09C10;--bs-primary-rgb: 240,156,16;--bs-secondary: #FECA51;--bs-secondary-rgb: 254,202,81;--bs-success: #B1DFC4;--bs-success-rgb: 177,223,196;--bs-info: #B1DFC4;--bs-info-rgb: 177,223,196;--bs-warning: #FECA51;--bs-warning-rgb: 254,202,81;--bs-danger: #E03600;--bs-danger-rgb: 224,54,0;--bs-light: #EBEBEB;--bs-light-rgb: 235,235,235;--bs-dark: #494038;--bs-dark-rgb: 73,64,56;--bs-body-color: #2d2d2d;--bs-body-bg: #d6d6d6;"></span></button>
        <div class="collapse navbar-collapse" id="navcol-1">
            <!-- |---------------------------------------------------------------| -->
            <!-- |--------------------| ELEMENTOS DEL NAVBAR |-------------------| -->
            <!-- |---------------------------------------------------------------| -->
            <!-- | Cada uno de los elementos del navbar cuenta con una variable  | -->
            <!-- | permita validar que se encuentra activa esa sección.          | -->
            <!-- |---------------------------------------------------------------| -->
            <ul class="navbar-nav mx-auto" style="font-size: 21px;">
                <li class="nav-item">
                    <a class="nav-link {{home}}" href="{% url 'home' %}">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{forum}}" href="features.html">Foro</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{sighting}}" href="{% url 'sighting-map' %}">Avistamientos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{company}}" href="integrations.html">BeeCare</a>
                </li>
                {% if user.is_authenticated == False %}
                <li class="nav-item">
                    <a class="nav-link {{signUp}}" href="{% url 'signup' %}">Quiero participar</a>
                </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link {{contactUs}}" href="pricing.html">Contacto</a>
                </li>
                <li class="nav-item"></li>
            </ul>
            <!-- |---------------------------------------------------------------| -->
            <!-- |------------------| FORMULARIO DE BUSQUEDA |-------------------| -->
            <!-- |---------------------------------------------------------------| -->
            <!-- | La busqueda de elementos dependerá de los nombres de los      | -->
            <!-- | avistamientos o post.                                         | -->
            <!-- |---------------------------------------------------------------| -->
            {% comment %} <form class="d-none d-sm-inline-block me-auto ms-md-3 my-2 my-md-0 mw-100 navbar-search"
                style="padding-right: 0px;padding-left: 11px;">
                <div class="input-group"
                    style="border-radius: 8px;border-style: none;padding-right: 0px;margin-right: 103px;">
                    <input class="bg-light form-control border-0 small" type="text" placeholder="Buscar ..."
                        style="border-top-left-radius: 16px;border-bottom-left-radius: 16px;border: 10px solid var(--bs-navbar-active-color);box-shadow: 0px 0px;backdrop-filter: opacity(0.27);" /><button
                        class="btn btn-primary py-0" type="button"
                        style="border-top-right-radius: 16px;border-bottom-right-radius: 16px;background: var(--bs-primary);border-style: none;"><i
                            class="fas fa-search"></i></button>
                </div>
            </form> {% endcomment %}

            <!-- |---------------------------------------------------------------| -->
            <!-- |------------------| PIN DE USUARIO VALIDADO |------------------| -->
            <!-- |---------------------------------------------------------------| -->
            <!-- | El pin se encuentra validado respecto al inicio de sesión del | -->
            <!-- | usuario.                                                      | -->
            <!-- |---------------------------------------------------------------| -->
            {% if user.is_authenticated %}
            <div class="d-none d-sm-block topbar-divider"
                style="padding-bottom: 40px;padding-left: 0px;margin-left: 18px;padding-right: 0px;margin-right: 20px;">
            </div>
            <ul class="navbar-nav flex-nowrap ms-auto">
                <li class="nav-item dropdown d-sm-none no-arrow">
                    <a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#"><i
                            class="fas fa-search"></i></a>
                    <div class="dropdown-menu dropdown-menu-end p-3 animated--grow-in" aria-labelledby="searchDropdown">
                        <form class="me-auto navbar-search w-100">
                            <div class="input-group">
                                <input class="bg-light form-control border-0 small" type="text"
                                    placeholder="Search for ..." />
                                <div class="input-group-append">
                                    <button class="btn btn-primary py-0" type="button"><i
                                            class="fas fa-search"></i></button>
                                </div>
                            </div>
                        </form>
                    </div>
                </li>
                <div class="d-none d-sm-block topbar-divider"></div>
                <li class="nav-item dropdown no-arrow">
                    <div class="nav-item dropdown no-arrow">
                        <a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#"
                            style="border-top-left-radius: 0;border-top-right-radius: 0;border-bottom-right-radius: 0;border-bottom-left-radius: 0;"><img
                                width="100" height="80"
                                style="width: 44px;height: 42px;border-radius: 8px;background: #00000000;border: 2px none var(--bs-black);"
                                src="/static/img/logos/Generic%20upload%20photo.svg" /></a>
                        <div class="dropdown-menu shadow dropdown-menu-end animated--grow-in">

                            <a class="dropdown-item" href="{% url 'sighting-own' %}"><i
                                    class="fas fa-user fa-sm fa-fw me-2 text-gray-400"></i>&nbsp;Mi perfil</a>

                            <a class="dropdown-item" href="{% url 'sighting-own' %}"><i
                                    class="fas fa-cogs fa-sm fa-fw me-2 text-gray-400"></i>&nbsp;Mis avistamientos</a>

                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" onclick="memberSignOut('{% url 'signout' %}')"><i
                                    class="fas fa-sign-out-alt fa-sm fa-fw me-2 text-gray-400"></i>&nbsp;Cerrar sesión</a>
                        </div>
                    </div>
                </li>
            </ul>
            {% endif %}
        </div>
    </div>
</nav>