{% extends 'base/base.html' %}
{% load static %}
{% block content %}


<header class="header">
    <div class="header-container d-md-none d-lg-block d-sm-none d-md-block d-none d-sm-block" style="background-image: url(&quot;/static/img/Bees/bee2.png&quot;);margin-bottom: 37px;padding-bottom: 46px;padding-top: 32px;">
      <div class="container">
        <div class="col-md-6 offset-md-3 header-title">
            <h1 class="text-center" style="color: #ffffff;padding-right: 107px;padding-left: 108px;border-width: 6px;border-style: solid;margin-bottom: 30px;padding-bottom: 30px;padding-top: 30px;font-size: 60px;margin-left: -210px;margin-right: -210px;margin-top: 32px;">
                <strong>{% block title %}Registro de avistamientos{% endblock title %}</strong>
            </h1>      
          </div>
    </div>
</header>

    <div class="container py-4 py-xl-5" style="padding-left: 0px;padding-right: 0px;margin-top: 0px;padding-top: 8px;margin-bottom: -64px;padding-bottom: 66px;">
        <div class="row">
            <div class="col">
                <h1 style="font-size: 42px;">Registra un nuevo avistamiento</h1>
            </div>
        </div>
        <div class="row gy-4 row-cols-1 row-cols-md-2 row-cols-lg-3" style="text-align: center;margin-left: 0px;padding-top: 0px;margin-top: -16px;padding-bottom: 45px;margin-bottom: 24px;">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                <div class="card border-light border-1 d-flex justify-content-center p-4" style="border-radius: 20px;padding-left: 16px;margin-left: -3px;">
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-5 col-lg-5 col-xl-6 col-xxl-6">
                                <div id="mapa" allowfullscreen="" frameborder="0" loading="lazy" width="100%" height="100%" style="padding-bottom: 0px;border-radius: 20px;align-items: stretch;max-height: 100%;min-height: 100%;"></div>                            
                        </div>
                        <div class="col-12 col-sm-12 col-md-7 col-lg-7 col-xl-6 col-xxl-6" style="text-align: center;">
                            <!-- Aquí inicia el formulario -->
                            <form method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-xxl-12" style="margin-bottom: 8px;">
                                        <div>
                                            <h4 class="fw-bold" style="font-size: 32px;text-align: center;">¿Miraste una abeja?</h4>
                                            <p class="text-muted" style="font-size: 12px;text-align: center;">¡Excelente!, llena los siguientes datos, incluyendo la ubicación de tu avistamiento, después de registrar el avistamiento, espera a que sea aprobado para su publicación.</p>
                                            <p class="text-muted" style="font-size: 12px;text-align: center;">¡Muchas gracias por tu aportación!</p>
                                        </div>
                                    </div>
                                    <div class="col-xxl-12" style="margin-bottom: 8px;margin-top: 8px;">
                                        <div class="row">
                                            <div class="col-sm-12 col-xxl-12">
                                                <img id="previewSightingReg" style="display: inline-grid;border-radius: 20px;margin-bottom: 4px;margin-top: 4px;margin-right: 4px;margin-left: 4px;width: 320px;height: 260px;background: #d9d9d9;padding-top: 4px;padding-bottom: 4px;padding-left: 4px;padding-right: 5px;" width="220" height="120" src={%static '/img/logos/Bee%20Care%20Logo%20in%20a%20Circle.svg' %}></div>
                                        </div>
                                    </div>
                                    <input type="number" name="sighLat" id="sighLat" readonly hidden required>
                                    <input type="number" name="sighLng" id="sighLng" readonly hidden required>
     
                                    <div class="col-xxl-12" style="margin-top: 8px;margin-bottom: 8px;">
                                        <div class="row">
                                            <div class="col-md-12" style="text-align: left;"><label class="form-label" style="text-align: left;margin-left: 8px;">Imagen del avistamiento</label>
                                                <div class="input-group" style="border-radius: 8px;border-style: none;">
                                                    <input type="file"  class="form-control" style="border-style: none;border-radius: 20px;background: var(--bs-light);" name="sighPicture" id="sighPicture" onchange="load_ImgBee(event)" required>                            
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xxl-12" style="margin-top: 8px;margin-bottom: 8px;">
                                        <div class="row">
                                            <div class="col-md-12" style="text-align: left;"><label class="form-label" style="text-align: left;margin-left: 8px;">Nombre de la abeja</label>
                                                <div class="input-group" style="border-radius: 8px;border-style: none;">
                                                    <input type="text" class="form-control" style="background: var(--bs-light);border-radius: 20px;border-style: none;" name="beeName"  id="beeName"  list="list1beeName" placeholder="Abeja 1" required>
                                                    <datalist id="list1beeName">
                                                        {% for bee in bees %}
                                                        <option value="{{bee.beeName}}"></option>
                                                        {% endfor %}
                                                      </datalist>                                    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xxl-12" style="margin-top: 8px;margin-bottom: 8px;">
                                        <div class="row">
                                            <div class="col-sm-6 col-md-6" style="text-align: left;"><label class="form-label" style="text-align: left;margin-left: 8px;">Familia</label>
                                                <div class="input-group" style="border-radius: 8px;border-style: none;">

                                                    <input type="text"  class="form-control" style="background: var(--bs-light);border-radius: 20px;border-style: none;"  name="familyName" id="familyName" list="list2familyName" onchange="autoFieldSubfamily()" placeholder="Familia 1" required>
                                                    <datalist id="list2familyName">
                                                                                         
                                                    </datalist>

                                                </div>
                                            </div>
                                            <div class="col-sm-6 col-md-6" style="text-align: left;"><label class="form-label" style="text-align: left;margin-left: 8px;">Sub-familia</label>
                                                <div class="input-group" style="border-radius: 8px;border-style: none;">

                                                    <input type="text" class="form-control" style="background: var(--bs-light);border-radius: 20px;border-style: none;" name="subfamilyName" id="subfamilyName" list="list3subfamilyName" placeholder="Sub-familia 1" required>
                                                    <datalist id="list3subfamilyName">
                        
                                                    </datalist>

                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-xxl-12" style="margin-top: 8px;margin-bottom: 8px;">
                                        <div class="row">
                                            <div class="col-sm-6 col-md-6" style="text-align: left;"><label class="form-label" style="text-align: left;margin-left: 8px;">Tiene aguijón?</label>
                                                <div class="input-group" style="border-radius: 8px;border-style: none;">
                                                    <select class="form-control" name="fieldsting" id="fieldsting" style="background: var(--bs-light);border-radius: 5px;border-style:solid;border-color: black;" required>
                                                        <option selected></option>
                                                        <option value="Tiene aguijón">Tiene aguijón</option>
                                                        <option value="No tiene aguíjón">No tiene aguíjón</option>
                                                      </select>
                                                </div>
                                            </div>
                                            <div class="col-sm-6 col-md-6" style="text-align: left;"><label class="form-label" style="text-align: left;margin-left: 8px;">Es nativa?</label>
                                                <div class="input-group" style="border-radius: 8px;border-style: none;">
                                                    <select class="form-control" name="fieldnative" id="fieldnative"  style="background: var(--bs-light);border-radius: 5px;border-style:solid;border-color: black;"required>
                                                        <option selected></option>
                                                        <option value="Es nativa">Es nativa</option>
                                                        <option value="No es nativa">No es nativa</option>
                                                    </select>                                       
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-xxl-12" style="margin-top: 8px;margin-bottom: 8px;">
                                        <div class="row">
                                            <div class="col-md-12" style="text-align: left;"><label class="form-label" style="text-align: left;margin-left: 8px;">Especie</label>
                                                <div class="input-group" style="border-radius: 8px;border-style: none;">
                                                    
                                                    <input type="text" class="form-select" style="background: var(--bs-light);border-radius: 20px;border-style: none;" name="speciesName" id="speciesName"  list="list4speciesName" placeholder="Especie 1" required>
                                                    <datalist id="list4speciesName">
                                                        {% for specie in species %}
                                                        <option value="{{specie.speciesName}}"></option>
                                                        {% endfor %}
                                                    </datalist>
                                                    <br><br>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xxl-12" style="margin-top: 8px;margin-bottom: 8px;">
                                        <div class="row">
                                            <div class="col-md-12" style="text-align: left;"><label class="form-label" style="text-align: left;margin-left: 8px;">Genero</label>
                                                <div class="input-group" style="border-radius: 8px;border-style: none;">
                                                    
                                                    <input type="text" class="form-control" style="background: var(--bs-light);border-radius: 20px;border-style: none;" name="genderName" id="genderName" list="list5genderName" placeholder="Genero 1" required>
                                                    <datalist id="list5genderName">
                                                        {% for gender in genders %}
                                                        <option value="{{gender.genderName}}"></option>
                                                        {% endfor %}
                                                    </datalist>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xxl-12" style="margin-top: 8px;margin-bottom: 8px;">
                                        <div class="row">
                                            <div class="col-md-12" style="text-align: left;"><label class="form-label" style="text-align: left;margin-left: 8px;">Comentario</label>
                                                <div class="input-group" style="border-radius: 8px;border-style: none;">
                                                    
                                                    <textarea type="text"  class="form-control" style="background: var(--bs-light);border-style: none;border-radius: 20px;" name="sighComment" id="sighComment"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xxl-12" style="margin-top: 8px;margin-bottom: 8px;">
                                        <div class="row">
                                            <div class="col-md-12" style="text-align: center;"><button class="btn btn-primary" type="submit" style="background: var(--bs-primary);border-style: none;border-radius: 20px;">Registrar avistamiento</button></div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <!-- Aquí termina el formulario -->                     
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <script type="text/javascript">
        const inputImagen = document.getElementById("sighPicture");
        const miImagen = document.getElementById("previewSightingReg");
      
        inputImagen.addEventListener("change", function() {
          const archivo = inputImagen.files[0];
          const lector = new FileReader();
          lector.addEventListener("load", function() {
            miImagen.src = lector.result;
            classifyImage1();
          }, false);
          if (archivo) {
            lector.readAsDataURL(archivo);
          }
        });
            // Classifier Variable - clasificar si es un insecto o no lo es.
            let classifier1;
            // Classifier Variable - clasificar si es una abeja o otro insecto.
            let classifier2;
            // Classifier Variable - clasificar si tiene aguijón o no.
            let classifier3;
            // Classifier Variable - clasificar que especie de abeja.
            let classifier4;
            // Classifier Variable - clasificar si es nativa o no nativa.
            let classifier5;
            // Classifier Variable - clasificar si es el insecto identificado es polinizador.
            let classifier6;
            // --------------------Modelos URL-------------------
            // URL de modelo - es un insecto o no lo es.
            let imageModelURL1 = 'https://teachablemachine.withgoogle.com/models/N8zgnFDvY/';
            // URL de modelo - si es una abeja o otro insecto.
            let imageModelURL2 = 'https://teachablemachine.withgoogle.com/models/9MYSBpuaV/';
            // URL de modelo - si tiene aguijón o no.
            let imageModelURL3 = 'https://teachablemachine.withgoogle.com/models/x655aBRbK/';
            // URL de modelo - que especie de abeja.
            let imageModelURL4 = 'https://teachablemachine.withgoogle.com/models/q7T_5utLj/';
            // URL de modelo - si es nativa o no nativa.
            let imageModelURL5 = 'https://teachablemachine.withgoogle.com/models/4s-zQjwAc/';
            // URL de modelo - si es el insecto identificado es polinizador.
            let imageModelURL6 = 'https://teachablemachine.withgoogle.com/models/wg2QaawgF/';
      
            // Imagen a cargada
            let imagebee;
            // Labels de resultados
            let label1 = "";
            let label2 = "";
            let label3 = "";
            let label4 = "";
            let label5 = "";
            let label6 = "";
            // Carga de modelos
            function preload() {
      
              // Clasificador de: es un insecto o no lo es - modelo
              classifier1 = ml5.imageClassifier(imageModelURL1 + 'model.json',{cors:true}); 
              // Clasificador de: si es una abeja o otro insecto. - modelo
              classifier2 = ml5.imageClassifier(imageModelURL2 + 'model.json',{cors:true}); 
              // Clasificador de: si tiene aguijón o no. - modelo
              classifier3 = ml5.imageClassifier(imageModelURL3 + 'model.json',{cors:true});
              // Clasificador de: que especie de abeja. - modelo
              classifier4 = ml5.imageClassifier(imageModelURL4 + 'model.json',{cors:true});
              // Clasificador de: si es nativa o no nativa. - modelo
              classifier5 = ml5.imageClassifier(imageModelURL5 + 'model.json',{cors:true});
              // Clasificador de: si es el insecto identificado es polinizador. - modelo
              classifier6 = ml5.imageClassifier(imageModelURL6 + 'model.json',{cors:true});
              // Creación de variable en base al elemento con id img1
              imagebee = document.getElementById("previewSightingReg") ;
              console.log(imagebee);
            }
            // Creación de lienzo a analizar del modelo en dimensiones de 320 pixels vs 260 pixels
            function setup() {
              createCanvas(320, 260);
          
              // Empieza a clasificar si es un insecto
              classifyImage1();
            }
            // Se obtiene una predicción de la imagen
            function classifyImage1() {
              classifier1.classify(imagebee, gotResult1);
            }
            // Se obtienen los resultados de la imagen
            function gotResult1(error, results) {
              // En caso de error
              if (error) {
                console.error(error);
                return;
              }
              // Resultados, asignación de valor a label
              label1 = results[0].label;
              console.log(label1)
              
              if( label1 == "Es un insecto"){   
                document.getElementById("beeName").value = label1;
                console.log("1-1-"+label1); 
                // Comienza a clasificar si es una abeja o otro insecto
                classifyImage2();
              }
              else if( label1 == "No es un insecto"){
                document.getElementById("beeName").value = label1;
                document.getElementById("fieldsting").value = "";
                document.getElementById("speciesName").value = "";
                document.getElementById("fieldnative").value = "";
                console.log("1-2-"+label1);
                return;
              }
      
          }
      
            // Se obtiene una predicción de la imagen
            function classifyImage2() {
              classifier2.classify(imagebee, gotResult2);
              }
            // Se obtienen los resultados de la imagen
            function gotResult2(error, results) {
              // En caso de error
              if (error) {
                console.error(error);
                return;
              }
              // Resultados, asignación de valor a label
              label2 = results[0].label;
      
              if(label2 == "Es una abeja"){
                console.log("2-1-"+label2);
                // Comienza a clasificar si la abeja tiene aguijón o no lo tiene
                classifyImage3();
              } else if (label2 == "Es otro insecto"){

                document.getElementById("beeName").value = label2
                document.getElementById("fieldsting").value = "";
                document.getElementById("speciesName").value = "";
                document.getElementById("fieldnative").value = "";
                console.log("2-2-"+label2);
                classifyImage6();
              }
          }
      
            // Se obtiene una predicción de la imagen
            function classifyImage3() {
              classifier3.classify(imagebee, gotResult3);
              }
            
            // Se obtienen los resultados de la imagen
            function gotResult3(error, results) {
              // En caso de error
              if (error) {
                console.error(error);
                return;
              }
              // Resultados, asignación de valor a label
              label3 = results[0].label;
      
              document.getElementById("fieldsting").value = label3
              console.log(label3);
              // Comienza a clasificar la especie de abeja    
              classifyImage4()
          }
      
            // Se obtiene una predicción de la imagen
            function classifyImage4() {
              classifier4.classify(imagebee, gotResult4);
              }
            
            // Se obtienen los resultados de la imagen
            function gotResult4(error, results) {
              // En caso de error
              if (error) {
                console.error(error);
                return;
              }
              // Resultados, asignación de valor a label
              label4 = results[0].label;
              document.getElementById("beeName").value = label4
              document.getElementById("speciesName").value = label4
              console.log(label4);
              // Comienza a clasificar si la abeja es nativa o no es nativa
              classifyImage5()    
          }
      
            // Se obtiene una predicción de la imagen
            function classifyImage5() {
              classifier5.classify(imagebee, gotResult5);
              }
            
            // Se obtienen los resultados de la imagen
            function gotResult5(error, results) {
              // En caso de error
              if (error) {
                console.error(error);
                return;
              }
              // Resultados, asignación de valor a label
              label5 = results[0].label;
      
              document.getElementById("fieldnative").value = label5
              console.log(label5);    
          }

            // Se obtiene una predicción de la imagen
            function classifyImage6() {
              classifier6.classify(imagebee, gotResult6);
              }
            
            // Se obtienen los resultados de la imagen
            function gotResult6(error, results) {
              // En caso de error
              if (error) {
                console.error(error);
                return;
              }
              // Resultados, asignación de valor a label
              label6 = results[0].label;
      
              if(label6 == "Es polinizador"){
                document.getElementById("beeName").value = label2+" - " + label6;
                document.getElementById("fieldsting").value = "";
                document.getElementById("speciesName").value = "";
                document.getElementById("fieldnative").value = "";
                console.log("6-2-"+label6);
                // Comienza a clasificar si el insecto es on no polinizador
              } else if (label6 == "No es polinizador"){

                document.getElementById("beeName").value = label2+" - " + label6;
                document.getElementById("fieldsting").value = "";
                document.getElementById("speciesName").value = "";
                document.getElementById("fieldnative").value = "";
                console.log("6-2-"+label6);
              }
          }
    </script>



<script src="https://cdn.jsdelivr.net/npm/p5@latest/lib/p5.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/p5@latest/lib/addons/p5.dom.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/ml5@latest/dist/ml5.min.js"></script>


<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
<script src={%static '/js/scriptsMap.js' %}> </script>
<script src={%static '/js/scriptsImg.js' %}> </script>
{% endblock %}